<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PWA Chat</title>
        <link rel="stylesheet" href="/public/styles.css">
    </head>
    <body>

        <h1 class="title">PWA Chat</h1>
        <div class="wrapper">
            <nav class="nav" id="nav">
                <div class="default-nav">
                    <div class="main-nav">
                        <!--<div class="toggle"></div>-->
                        <div class="main-nav-item"><a class="main-nav-item-link" href="#">Web Chat</a></div>
                        <div class="options"></div>
                    </div>
                </div>
            </nav>
            <div class="inner" id="inner">
                <div class="content" id="content"></div>
            </div>
            <div class="bottom" id="bottom">
                <textarea class="input" id="input"></textarea>
                <div class="send" id="send"></div>
            </div>
        </div>

        <!--<canvas id="image" width="640" height="480"></canvas>-->

        <!--<div>-->
            <!--<span id="status">Connecting...</span>-->
        <!--</div>-->

        <!--<select name="" id="voice-select"></select>-->

        <!--<video id="canvas-video" width="640" height="480"></video>-->

        <!--<button class="speech-recognition">speech</button>-->

        <!--<section class="main-controls">-->
            <!--<canvas class="visualizer" height="60px"></canvas>-->
            <!--<div id="buttons">-->
                <!--<button class="record">Record</button>-->
                <!--<button class="stop">Stop</button>-->
                <!--<button class="send">Send</button>-->
            <!--</div>-->
        <!--</section>-->

        <!--<video id="pip-video" src="https://cdn.arnellebalane.com/videos/original-video.mp4" controls></video>-->
        <!--<button id="pip-button">Enter picture in picture</button>-->


        <!--<video id="video" autoplay></video>-->
        <!--<button id="getmediabutton">Get Media</button>-->
        <!--<button id="startbutton" disabled="disabled">Take photo</button>-->
        <!--<canvas id="canvas"></canvas>-->

        <!--<img hidden crossorigin="" id="image-shape" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Google_team_group_photo_with_Vanhanen.jpg/640px-Google_team_group_photo_with_Vanhanen.jpg" alt="">-->
        <!--<canvas id="canvas-shape" width="640" height="480"></canvas>-->


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/public/chat-frontend.js"></script>
        <!--<script src="/public/messages.js"></script>-->
        <!--<script src="/public/capture-image.js"></script>-->
        <!--<script src="/public/capture-audio.js"></script>-->
        <!--<script src="/public/speech-recognition.js"></script>-->
        <!--<script src="/public/speech-synthesis.js"></script>-->
        <!--<script src="/public/shape-detection.js"></script>-->
        <!--<script src="/public/pip.js"></script>-->

        <!--comentado-->
        <!-- source ./emsdk_env.sh --build=Release -->
        <!-- emcc filter.c -s "EXPORTED_FUNCTIONS=['_outline_c']" -s WASM=1 -o wasm-filter.js -->
        <!--<script src="/public/wasm-filter.js"></script>-->
        <!--/comentado-->

        <!--<script src="/public/wasm-example.js"></script>-->
    </body>
</html>